.caption h3{
	margin-top: 10px;

}
.caption p{
	margin-bottom: 0;
}

.thumbnail img {
	min-height: 100px;
} 

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none;
}